[2019-04-02 20:34] sonatype-depshield[bot] opened #6 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.debounce:4.0.8"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.debounce:4.0.8](https://ossindex.sonatype.org/component/pkg:npm/lodash.debounce@4.0.8) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash n

[2019-04-02 20:34] sonatype-depshield[bot] opened #7 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.memoize:4.1.2"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.memoize:4.1.2](https://ossindex.sonatype.org/component/pkg:npm/lodash.memoize@4.1.2) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash nod

[2019-04-02 20:34] sonatype-depshield[bot] opened #8 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.sortby:4.7.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.sortby:4.7.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.sortby@4.7.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash.sortby:4.7.0

[2019-04-02 20:34] sonatype-depshield[bot] opened #9 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.camelcase:4.3.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.camelcase:4.3.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.camelcase@4.3.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash

[2019-04-02 20:35] sonatype-depshield[bot] opened #10 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.uniq:4.5.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.uniq:4.5.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.uniq@4.5.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash node modu

[2019-07-28 00:50] sonatype-depshield[bot] opened #24 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.find:4.6.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.find:4.6.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.find@4.6.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash node modu

[2019-07-28 00:50] sonatype-depshield[bot] opened #25 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.set:4.3.2"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.set:4.3.2](https://ossindex.sonatype.org/component/pkg:npm/lodash.set@4.3.2) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash node module

[2019-07-28 00:50] sonatype-depshield[bot] opened #26 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.get:4.4.2"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.get:4.4.2](https://ossindex.sonatype.org/component/pkg:npm/lodash.get@4.4.2) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash node module

[2019-07-28 00:50] sonatype-depshield[bot] opened #27 "[DepShield] (CVSS 7.5) Vulnerability due to usage of debug:2.6.9"
**Vulnerabilities**

DepShield reports that this application's usage of [debug:2.6.9](https://ossindex.sonatype.org/component/pkg:npm/debug@2.6.9) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-400: Uncontrolled Resource Consumption ('Resource Exhaustion')](https://ossindex.sonatype.org/vuln/b45ca07c-673b-459f-97b5-9bf23f1f3db5)

<hr />

**Occurrences**

debug:2.6.9 is a transit

[2019-07-28 00:50] sonatype-depshield[bot] opened #28 "[DepShield] (CVSS 7.5) Vulnerability due to usage of express:4.16.4"
**Vulnerabilities**

DepShield reports that this application's usage of [express:4.16.4](https://ossindex.sonatype.org/component/pkg:npm/express@4.16.4) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-22: Improper Limitation of a Pathname to a Restricted Directory ('Path Traversal')](https://ossindex.sonatype.org/vuln/e1f470a8-5800-4828-bad8-a6f001221b16)

<hr />

**Occurrences**

[2019-07-29 05:14] sonatype-depshield[bot] opened #29 "[DepShield] (CVSS 7.5) Vulnerability due to usage of express:4.17.1"
**Vulnerabilities**

DepShield reports that this application's usage of [express:4.17.1](https://ossindex.sonatype.org/component/pkg:npm/express@4.17.1) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-22: Improper Limitation of a Pathname to a Restricted Directory ('Path Traversal')](https://ossindex.sonatype.org/vuln/e1f470a8-5800-4828-bad8-a6f001221b16)

<hr />

**Occurrences**

[2019-08-29 02:54] sonatype-depshield[bot] opened #30 "[DepShield] (CVSS 9.8) Vulnerability due to usage of lodash:3.10.1"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash:3.10.1](https://ossindex.sonatype.org/component/pkg:npm/lodash@3.10.1) results in the following vulnerability(s):

- (CVSS **9.8**) [[CVE-2019-10744] Versions of lodash lower than 4.17.12 are vulnerable to Prototype Pollution. The...](https://ossindex.sonatype.org/vuln/3fb48383-2e9e-4db1-bac5-f33cb54498ff)
- (CVSS **9.

[2019-08-29 02:54] sonatype-depshield[bot] opened #31 "[DepShield] (CVSS 7.5) Vulnerability due to usage of q:1.5.1"
**Vulnerabilities**

DepShield reports that this application's usage of [q:1.5.1](https://ossindex.sonatype.org/component/pkg:npm/q@1.5.1) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-22: Improper Limitation of a Pathname to a Restricted Directory ('Path Traversal')](https://ossindex.sonatype.org/vuln/e1f470a8-5800-4828-bad8-a6f001221b16)

<hr />

**Occurrences**

q:1.5.1 is a

[2019-08-29 02:54] sonatype-depshield[bot] opened #32 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.map:4.6.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.map:4.6.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.map@4.6.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

lodash.map:4.6.0 is a tran

[2019-08-29 02:54] sonatype-depshield[bot] opened #33 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash._reinterpolate:3.0.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash._reinterpolate:3.0.0](https://ossindex.sonatype.org/component/pkg:npm/lodash._reinterpolate@3.0.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)

<hr />

**Occurrences**

loda

[2019-09-07 19:22] sonatype-depshield[bot] opened #34 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.clonedeep:4.5.0"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.clonedeep:4.5.0](https://ossindex.sonatype.org/component/pkg:npm/lodash.clonedeep@4.5.0) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash

[2019-09-07 19:22] sonatype-depshield[bot] opened #35 "[DepShield] (CVSS 7.4) Vulnerability due to usage of lodash.throttle:4.1.1"
**Vulnerabilities**

DepShield reports that this application's usage of [lodash.throttle:4.1.1](https://ossindex.sonatype.org/component/pkg:npm/lodash.throttle@4.1.1) results in the following vulnerability(s):

- (CVSS **7.4**) [CWE-471: Modification of Assumed-Immutable Data (MAID)](https://ossindex.sonatype.org/vuln/0f23ff35-235f-404f-8118-bc1580673fd0)
- (CVSS **6.5**) [[CVE-2018-3721] lodash n

[2019-10-10 08:45] jllagerberg opened #36 "[Feature Request] Scoped styles"
Would be useful to be able to use scoped styles for the vuetensils elements.

For example, maybe I don't want all the `.vts-toggle__button` classes to look the same all over the app.

[2019-10-10 08:56] jllagerberg opened #37 "[Bug] Overflow:hidden in VToggle"
The `overflow: hidden;` part in the `VToggle.vue` causes problem if you have elements that goes out of the toggle box. For example if you have a long dropdown.

[2019-10-10 09:40] jllagerberg commented on #37
Made a pull request which fixes it.

[2019-10-10 09:40] #37 closed

[2019-10-10 11:05] jllagerberg opened #39 "[Feature Request] IE11 support"
This project has no support for IE11. It's not really accessible if that is not supported.

[2019-10-10 15:57] Stegosource commented on #36
Does it need to be scoped styles? I just added scoped classes to the nested dom nodes. Scoped styles wouldn't be too hard. However, why not just add modifier classes to the custom buttons? For example:

`<VToggle />` and `<VToggle class="custom" />`

Then you could simply use the nested classes to style.

[2019-10-10 15:59] Stegosource commented on #37
Thanks! I actually read through that article when I created this component but did not follow it closely enough it would seem.
Good catch on that one.

[2019-10-10 16:07] Stegosource commented on #39
You are correct. Accessibility relates to browser support as well. However, this issue brings up a lot of different points:
- IE11 is no longer officially maintained by Microsoft
- Components are imported on an individual basis and most work just fine in IE11
- World usage for IE11 is about 2%.

All this to say that I won't ignore IE11 support. I think it's important to provide as much browser sup

[2019-10-10 16:18] jllagerberg commented on #39
Well, that's not entirely true. According to Microsoft, IE11 is supported until the end of Windows 10 which is the year 2025. It's the support for IE10 that will end soon.

But I hear you, I hate IE as much as anyone else. But IE11 support is unfortunately mandatory for a lot of projects these days.

If you could fix the initial problems, with the project not even opening in IE11, I will be able t

[2019-10-10 16:24] Stegosource commented on #39
Ahhh. That explains all the bug reports ;)

I'm glad to hear you will be using this on a project soon. Keep in mind that it's not at the V1 release yet.

Also glad to hear you are interested in working on it. Since it's mostly been just scratching my own itch, it's hard to know how it can better serve others. It will be good to get some outside perspective and real-life use cases.

And yes, you ar

[2019-10-10 17:09] jllagerberg commented on #39
I know. But everything is an improvement for us at this point :)

[2019-10-10 17:19] Stegosource commented on #39
Great. Well I was also going to write some in depth articles about each specific component and the why/how to of making them accessible. Is that something you would be interested in?

Actually, what is your main interest in using this project? The accessibility features, the base functionality, the naked components, or something else?

[2019-10-10 17:46] jllagerberg commented on #39
We started a new project last month, where my colleagues wanted to go with Vuetify. But I do most of the frontend, so I can't be arsed having to override everything basically. It would just end with us using it for accessibility reasons, which doesn't feel that optimised really.

But I am still a novice when it comes to aria and such, which is also a reason why I need a tool like this. So I wouldn

[2019-10-10 18:06] Stegosource commented on #39
That sounds like the perfect fit.

Also, I wasn't asking for your help in writing articles. I was asking if that is something you would be interested in reading about. Something else you might consider for your project is just copying the source code for the components you need and hacking it to your purposes. Then you won't have to worry about any breaking changes.

[2019-10-10 18:31] jllagerberg commented on #39
Yes, absolutely! That would actually be really great.

I know, but I wouldn't mind helping either. I think a library like this could benefit a lot of people.

[2019-10-18 07:27] jllagerberg commented on #37
You can actually ignore my pull request, since I managed to get it working with your code.

Make sure that the resets are not `null`, but an empty string instead. That way it also works in IE11.

[code]

[2019-10-18 15:11] Stegosource commented on #37
@jllagerberg Thanks. I wanted to let you know that I'm not ignoring your PR's but I'm getting married this Sunday, so the last two weeks all my free time has been dedicated to that. Next week things should come back to normal, and I have 2 updated pretty much ready to be pushed out, including yours. I'll make the changes above and update them then.

Again, sorry for the delay, but hang tight and I

[2019-10-18 15:30] jllagerberg commented on #37
That's awesome, congrats man! Life comes before coding.
And there's no hurry from my part, so don't worry about that :)

[2019-10-19 14:54] Stegosource commented on #37
Hey, @jllagerberg I just published the changes. Can you give it a try and let me know?

[2019-10-20 09:31] jllagerberg commented on #37
The `overflow: hidden` is still in the CSS, but I can see that you changed it in the .vue-file. Did you forget to update something?

![Untitled2](https://user-images.githubusercontent.com/27690759/67157493-17ce8880-f32d-11e9-9e05-b3dab0bb5a16.jpg)

[2019-10-20 11:09] focussing commented on #39
👍
The 2% number is correct, but within schools the IE11 percentage is 28%... (yep).
It would be great to have IE11 compatibility; for now a list of what is, and what is not working would be great!
Currently I use bootstrap, but I tend to dislike the bloated result more and more.

Also I could help in testing new releases :)

[2019-10-22 14:47] Stegosource commented on #37
@jllagerberg I realized I made the changes but did not publish the built files. Should be working now. Hehe.

[2019-10-24 07:56] jllagerberg commented on #37
Looking good!

[2019-10-29 02:12] Stegosource commented on #39
Circling back on this, as one IE11 issue has been addressed. @jllagerberg or @focussing could one of you put together a more detailed list of what does not work in IE11? I use Ubuntu, so I can't really test it out. I can probably find a machine that has it if it's not convenient for you.

[2019-10-29 08:15] jllagerberg commented on #39
Absolutely.

A more convenient way for you to test things as well would be lambdatest.com. They have a free tier for testing in IE11.

[2019-10-29 23:07] Stegosource commented on #39
Yeah, looked into this. Nothing works!!!!
Lol. The good news is it seems like it's just an issue with ES6. I imaging some thing will be available if I can transpile the code with Babel. Some things will not be available such as the Async component due to Promises not being a feature in IE11, but Babel should provide some good support. I just need to figure out how to set it up with Rollup.

[2019-11-07 07:39] jllagerberg commented on #39
Actually, I think most of it works in IE11. It's just not working in Vuepress.
The VToggle works for me in IE11, for example.

[2019-11-07 15:40] Stegosource commented on #39
Yeah, I thought that would be the case. Most of the components in this library are intended to be imported into projects that THEN handle the transpilation step. I was looking into that issue on Vuepress but did not figure it out. Glad to hear it's working. There's some other cool features coming soon. I'm adding some useful directives.

[2019-11-07 15:40] #39 closed

[2019-11-08 10:30] focussing commented on #39
Great! Looking forward to that.
I'm on "watch releases" to I'll be notified :)

I am creating a Vue test project with all your components used.
So I can easily update, test in development and make distribution to be tested on IE11.

By the way, does something exists to test development on IE11 when working on a mac?
(I do not mean via a virtual machine)

[2019-11-08 10:34] jllagerberg commented on #39
I've never used a Mac for development, but I know there are ways to install Windows on a Mac. That's the only way to test IE11 on your own device, since you can't get IE11 on the Mac iOS.

[2019-11-08 10:52] focussing commented on #39
Yep, I use VMware for that. But it might be very easy if there was some kind of IE11-thingy for Mac...

[2019-11-08 10:53] focussing commented on #39
@Stegosource do you have a "dialog" component on your list? :)

[2019-11-08 16:09] Stegosource commented on #39
@focussing you can use https://www.lambdatest.com/ to launch a remote virtual machine for a browser session. It supports IE11 on Windows 8.1 with the free version.

And regarding the "dialogue", I have the 'VModal' component which is pretty much the same thing. I might switch it to use the name VDialogue, and it doesn't currently use the <dialogue> tag, but as more support comes, I'll add that as

[2019-11-26 08:56] lbineau opened #41 "Directives are not exported"
I got an error `"export 'copy' was not found in 'vuetensils'` when I try to import copy like
[code]
I think it is because directives are not imported in version 0.3.10
Here is the tree of vuetensils folder in node_modules:
[code]

[2019-11-26 16:06] Stegosource commented on #41
@lbineau, you're right. Directives were not introduced until v4. Please update to the latest version.

[2019-11-26 16:06] #41 closed

[2019-11-29 21:18] andrewspy opened #42 "v-copy directive does not seems to work on nuxt/vuetify"
Does anybody manage to get it to work on nuxt/vuetify? Below is a sample code, which does not work in my case.

[code]

[2019-11-30 03:33] Stegosource commented on #42
This is interesting. I'm taking a look into it now. In the meantime, you can try https://github.com/egoist/v-copy and see if that works. I'll update when I know more.

[2019-12-09 01:16] Stegosource opened #43 "Support inherit class to root element"
Having inheritAttrs: false prevents the class from being inherited.

[2019-12-09 01:19] Stegosource opened #44 "VImg: replace setTimeout with transitionend"
VImg does not need setTimeout for the transition if we use transitionEnd instead

[2019-12-09 01:20] Stegosource opened #45 "VImg: add watcher for `src`"
`src` should probably have watchers.

[2019-12-10 03:31] Stegosource commented on #43
False alarm. Oops

[2019-12-10 03:31] #43 closed

[2020-01-05 14:44] mahmoudyusof commented on #42
I don't know if this bug was fixed, but it works fine with me now, are you sure you added the directive.
[code]

[2020-01-06 03:50] andrewspy commented on #42
@mahmoudyusof I did add the directive as per what you suggest, and it doesn't seem to work on nuxt/vuetify2.

[2020-01-06 04:48] Stegosource commented on #42
@mahmoudyusof thanks for chiming in on this. I'm glad it's working as intended for you. However, I confirmed the issue that @andrewspy described. Still not sure what is causing it, but there is a conflict on how things work with Vuetify. I hope to find a solution, but have not isolated the problem yet. Sorry @andrewspy  :/

[2020-01-06 06:01] Stegosource commented on #42
Good news @andrewspy. I had some time to look into this tonight and may have found the issue. I got the code working with Vuetify and a local version of Vuetensils. Just pushed up the latest release v0.4.4 with the fix. If you could give that a shot and let me know, that would be swell.

[2020-01-06 19:04] andrewspy commented on #42
@Stegosource I have updated to latest release v0.4.4 and everything is working as expected now! Thanks!

[2020-01-06 19:04] #42 closed

[2020-01-06 19:08] Stegosource commented on #42
Woot!
Sorry for the delay.

[2020-01-11 06:56] mgambill opened #48 "VInput question"
Does the library support checkbox lists like the following?
https://vuejs.org/v2/guide/forms.html#Checkbox

[2020-01-11 19:09] Stegosource commented on #48
Hi @mgambill, thanks for asking. There is a VInput component which can take a type of `checkbox`. You can see it in action here: https://vuetensils.stegosource.com/components/VInput.html#input-types

When you say checkbox lists, I'm not really sure what you mean. The example shows several HTML checkboxes that are bound to some values. This would work the same with Vuetensils, but there is currentl

[2020-01-12 05:38] mgambill commented on #48
The current checkbox only supports true/false. Which is one use a secondary use is an array of values. Below is scenario I'm thinking about is similar to radio in that it takes an array but maps to a single array.

`<VInput type="checkboxlist" :options="['Microsoft','Apple','Google']" label="Please select brands you own" v-model="value" />`

with vue:
`
data(){
return value: ['Microsoft','Apple']

[2020-01-12 16:57] Stegosource commented on #48
Yes. I've seen that sort of pattern before, and I agree it should be added. To answer your original question, it does not currently exist, but I will get to it :)

[2020-01-12 18:18] mgambill opened #49 "VInput multiple on select doesn't work."
Another scenario vue.js natively supports but not implemented. the *multiple* attribute when added renders correctly but implementation doesn't work.

`<VInput label="Dropdown List (Multi)" type="select" multiple v-model="multiSelectValue" :options="options"/>`

v-model doesn't support arrays

[2020-01-12 18:23] mgambill opened #50 "VInput checkbox default value isn't applied."
The initial value isn't setting properly on checkbox.
`<VInput label="Checkbox Item" type="checkbox" v-model="checkboxValue"  />`

`data(){
  return { checkboxValue: true }
}`

should be able to add the following to the component to fix:
`:checked="$attrs.type === 'checkbox' && value === true"`

[2020-01-12 23:53] Stegosource commented on #49
Thanks. This will be fixed in the next release.

[2020-01-12 23:53] Stegosource commented on #50
This will be fixed in the next release.

[2020-01-13 05:31] Stegosource commented on #49
Small update on this. I tried implementing the logic required to make this work properly. It's close, but it wasn't quite right. The good news is I was able to reproduce the expected behavior on a trimmed down version of the component: https://codesandbox.io/s/sharp-kilby-863y2

Should be a pretty small step to get things hooked up properly in the library.

Thanks again for the bug report. This wa

[2020-01-14 15:42] Stegosource commented on #50
Just published 0.4.5 with this fixed

[2020-01-14 15:42] #50 closed

[2020-01-14 15:42] Stegosource commented on #49
Just published 0.4.5 with this fixed

[2020-01-14 15:42] #49 closed

[2020-01-21 01:48] Stegosource commented on #36
@jllagerberg Did you see my previous comment here?

[2020-01-21 04:32] #44 closed

[2020-01-21 04:32] #45 closed

[2020-01-21 08:08] jllagerberg commented on #36
I had some use case for a scoped style, but I don't recall what it was. But your solution seems good enough.

[2020-01-21 08:08] #36 closed

[2020-01-21 08:14] jllagerberg opened #52 "[Feature Request] Width toggle"
A suggestion, which might be useful for sidebars, is a width toggle.

You can basically use the functions you already have in VToggle.vue and change height to width.
So you would have to have two different toggle components I guess (VToggleHeight/VToggleWidth), or can you think of a better solution?

[2020-01-21 14:41] Stegosource commented on #52
So would it be like the VToggle component accepts some prop like `direction` and it can switch between vertical and horizontal?

[2020-01-21 14:45] jllagerberg commented on #52
That would do it.

[2020-01-29 05:35] brandonpittman opened #53 ":classes should probably just overwrite the default classes"
If you're using Tailwind, it's kinda hard to override the default classes because the component's CSS gets injected *after Tailwind's classes*. Looking at the VDialog.vue file, I see it's combining the default classes with the user-specified ones.

What do you think about just blowing away the default classes when a user-specified one exists?

[2020-01-29 07:14] #53 closed

[2020-01-29 07:15] brandonpittman commented on #53
Opened PR #54.

[2020-01-30 12:40] Truemedia opened #55 "Offer to contribute (existing components)"
Hi,
I found this project and have my own idea for creating naked components for a while.

At the moment these are only used on a personal project and closed source, but I'd be willing to make them open source for the right project.

I'm wondering if I could contribute some of these, including:
- Qr code component
- Date/time/datetime component (render moment instance with easy to read formatting o

[2020-01-30 12:45] brandonpittman commented on #55
These things all seem to be out of scope for Vuetensils. Maybe the copyright one…

[2020-01-30 13:00] Truemedia commented on #55
Yeh is up to you, I don't want to overcomplicate the project. Just looking to contribute any existing work that would tie in nicely with the vision of the project aswell as even author new components.

[2020-01-30 15:18] brandonpittman commented on #52
@Stegosource just looking at the toggle source and saw it’s essentially animating height. Now I get why the transition felt a little janky on the toggle. Why not scaleY(100) instead?

[2020-01-30 15:42] Stegosource commented on #52
@brandonpittman the issue I see with scaleY is that the DOM would still maintain the space for the toggled content, so you would have empty space where it will scale in and out. And what you want is the flow of the document to shift to accommodate the changes. It's sort of like opacity:0. You can't see the element, but the space it takes up is still there.

Or I may be misunderstanding you, but I

[2020-01-30 15:54] brandonpittman commented on #52
I’ll play with it while I’m doing the other thing—see if I can’t get it to play nicely with transform.

[2020-01-30 16:25] Stegosource commented on #55
Hey, thanks @Truemedia. Thanks for the interest, really appreciated. The goal for the library is to provide most of what a web app would need, but not necessarily everything under the sun. One thing that I definitely want to add is a date/time/datetime picker, so that may be a good place to start, however, I'm also trying to keep it dependency free (probably why I haven't already tackled that one)

[2020-02-02 11:52] Truemedia commented on #55
@Stegosource Yes I think date input/output would be good. I do know a few ways to do native date and time io without libraries so yeh could make a start on that

[2020-02-04 12:30] focussing opened #57 "[Feature request] Menubar"
Hello and many thanks for this great toolset.
One thing I am missing is a nice cleanly organised menubar. Something similar that bootstrap-vue offers but without the large overhead...

- can be filled via object
- can have dropdowns
- collapses to a hamburger menu on small screens (with dropdowns collapsed)

Would this be something for the toolset?

[2020-02-04 15:42] Stegosource commented on #57
Hey, I actually have played around with this idea a lot in my head, but I don't know if it makes a lot of sense in this project. A menu system complicated and varies widely across different implementations (for example, not everyone wants a hamburger menu). It also begs the question of whether the Vuetensils library would handle only the markup or also include the styling?

If it's only the markup

[2020-02-04 19:29] Stegosource opened #58 "Use dataset for storing data on directives"
From Vue docs:
"Apart from el, you should treat these arguments as read-only and never modify them. If you need to share information across hooks, it is recommended to do so through element’s dataset."

https://developer.mozilla.org/en-US/docs/Web/API/HTMLOrForeignElement/dataset

[2020-02-08 05:06] callumflack opened #59 "Error after upgrading from 0.4.4 to 0.5.0"
Love this lib!

I upgraded from 0.4.4 to 0.5.0 in a Nuxt project and got this error:

![image](https://user-images.githubusercontent.com/749885/74079524-6478d380-4a84-11ea-96fe-46224cb2a9ec.png)

(Rolling my version back for now)

[2020-02-08 05:32] brandonpittman commented on #59
Try installing the missing dependency.

[2020-02-08 06:24] callumflack commented on #59
Thanks @brandonpittman, worked. I lazily presumed it being a missing Vuetensils requirement.

Should it be noted in the docs?

[2020-02-08 19:28] Stegosource commented on #59
@brandonpittman thanks for jumping on this so quick!

@callumflack this is an interesting issue because Vuetensils doesnt actually have any dependencies in the package.json file. But clearly from the error message, there was something missing. I'm also curious why it only came up after upgrading to 0.5.

Can you share some more information about how your project is set up? Did you use the Vue CLI?

[2020-02-09 02:21] callumflack commented on #59
@Stegosource it’s certainly coming along. Things like this are what Bootstrap (yuck) hoped to be but forgot to remember…

This issue occurs on Nuxt 2.8.1+ projects (tried exact upgrades from 0.4.4 to 0.5 on 2 separate Nuxt projects).

Also strange that after installing `vue-runtime-helpers`it doesn’t get added to the package.json

[2020-02-09 02:22] callumflack commented on #59
Repos are private, happy to add you for a look-see if you wish?

[2020-02-09 02:30] Stegosource commented on #59
I got no hate for Bootstrap. I think they continue to do a good job, but there's different tools for different projects.

Maybe I should add that as a dependency. I'll have to play around with Nuxt. I've also got it running on a Gridsome project, but I haven't tested the upgrade yet, so I'll give that a go.

If you're saying it occurs on just a standard Nuxt install, then there is no need to add m

[2020-02-09 05:13] callumflack commented on #59
Not to go on too much, but Bootstrap greatly contributed to the homogeneity of website visual design between 2013–2018. If brand is important (when is it not?) then care should be taken to strip any  interaction library of styling themes — focus on doing one job well. You do that here, and that is why I think it's a terrific lib.

[2020-02-09 14:24] brandonpittman commented on #59
Gridsome has the same issue. Installed the package manually and it fixed it.

[2020-02-10 00:03] callumflack commented on #59
My mate @barryph runs a linux a machine and handles Node versions with NVM — he had no issue with requiring this dependency

[2020-02-10 00:13] Stegosource commented on #59
Oh yeah, that makes more sense. I run Linux as well and use NVM for Node. What is your OS?

[2020-02-10 00:16] Stegosource commented on #59
This may be an issue with Rollup. Just going off this thread https://stackoverflow.com/questions/54379726/rollup-plugin-vue-v4-6-2-has-a-problem-with-vue-runtime-helpers

[2020-02-10 00:46] Stegosource commented on #59
Just published a new release that I THINK will fix this.

[2020-02-10 14:56] callumflack commented on #59
@Stegosource I'm on a Mac. Removing `vue-runtime-helpers` then upgrading `vuetensils` worked : )

Thank you! Look forward to contributing to conversations the future of this lib, when I get past these deadlines —

[2020-02-10 16:08] #59 closed

[2020-02-19 01:24] somecallmejosh commented on #55
Would love to see an accessible date picker feature!

[2020-03-05 11:15] nyambe opened #61 "[Feature request]VDropdown with class manipulation only eg. hidden"
Hello I have noticed that the VDropdown removes the  vts content from the dom when not active.  Is it posible to just have the component o add or hide a 'hidden' class.   Maybe that is already posible, it's simple enough, right?

I love the philosophy of vuetensils, I think that would be inline with what you have in mind with this project.

changing this
`v-if="!!isHovered || !!isFocused"` to vts-

[2020-03-06 02:43] Stegosource commented on #61
Yeah, thanks. That's not a bad idea, but I would like to hear a bit more about your arguments for using a hidden class rather than removing it from the DOM.

[2020-03-06 13:05] nyambe commented on #61
In my case there are 2 main reasons, but I can think of many more.

1) NUXT.  I am using nuxt.  Dropdown items (links) need to be available for crawler and SEO reasons.
2) The dropdown shows States (button) and cities (content and link).  There is a hiccup when changing states, to much data I guess.

I already did the modification, it took me less than 5 minutes.  I would take another 15 minutes t

[2020-03-06 14:42] Stegosource opened #62 "[Feature Request] Tooltip"
Need to add a tooltip feature. Can either be a component or a directive.

[2020-03-06 14:44] Stegosource commented on #61
Hey, PRs are always welcome. It will help me better understand what you're suggesting. I think you make some valid points, and I cant think of many reasons to keep it as it currently is.

However, rather than adding a class, I think a good approach is to replace the current implementation using `v-if` to `v-show`

[2020-03-13 18:28] Stegosource commented on #55
@Truemedia Are you still interested in contributing the datepicker idea?

[2020-03-13 18:28] Stegosource commented on #57
@focussing I haven't heard back from you. Did my last response make sense?

[2020-03-13 18:34] Truemedia commented on #55
I am still interested just short on time at the moment due to work/personal life. I should have a lot more time on my hands closer to just before summer begins.

[2020-03-13 18:49] Stegosource commented on #55
No worries. Just doing some maintenance on the issues :)

[2020-03-15 13:37] focussing commented on #57
@Stegosource sorry for my late response; YES it did make sense! It is indeed more a CSS thing.

I am working on that at the moment during in-between-time so set something up that small and "lean" and which might be useful for your (beautifule) library as well..

Found some nice examples; in fact I've been using it on my very-old personal homepage without realizing it.
Keep you posted!

[2020-03-15 13:40] focussing opened #63 "[Feature request] add a changelog file"
Hi @Stegosource,

Let's say once a week I check overhere if something nice has happened.
Would it be an idea to create a (small) changelog file so one can see if new components have been changed or added?

[2020-03-15 14:49] Stegosource commented on #63
Oh yeah, I'm currently not pushing out changes THAT often. Got another project Im trying to finish up at the moment before I come back to this one. But YES a changelog has been on my todo list. Id like to have some sort of automated one, but Im not sure how best to do that.

[2020-03-18 02:53] Stegosource opened #64 "Move generated IDs to created hook"
Using $attrs.id in computed props reruns when $attrs change. Should be moved to created hook

[2020-03-23 10:00] lbineau opened #65 "VToggle isOpen default"
Thank you for this great library with accessibility in mind.

Would it be possible to add a prop to open the VToggle by default?
Right now I don't think it is possible to modify isOpen in the parent component.
https://github.com/Stegosource/vuetensils/blob/master/src/components/VToggle/VToggle.vue#L62

Thank you.

[2020-03-23 15:11] Stegosource commented on #65
Oh yeah. I think this was originally in there, but looking at the source, you're right. No way to make it open by default. I'll be adding that soon. Maybe also support for `v-model`. Anything else you think would make this component better?

[2020-03-23 17:55] lbineau commented on #65
I was think of it for a use a an accordion but I'm not sure if it fits WAI-ARIA design pattern.
It could the job of another component. What do you think?

[2020-03-23 18:04] Stegosource commented on #65
Yeah, I've kind of kicked the can down the road on the accordion. 1) because I personally don't like them, so I dont have much need for it, and 2) because I havent seen a lot of good examples on how to build one with a11y in mind. However, I think there are folks that would like it, and Im sure there is a good a11y solution. It may be a component, or it may be an implementation pattern (I'd like t

[2020-03-24 00:17] Stegosource commented on #63
Closing this issue as I've JUST added one to my local dev branch

[2020-03-24 00:17] #63 closed

[2020-03-24 00:29] Stegosource commented on #65
Just fixed this in the latest release.

[2020-03-24 00:29] #65 closed

[2020-03-24 00:47] #64 closed

[2020-03-24 05:51] focussing commented on #63
Great!! Thank you @Stegosource

[2020-03-25 18:16] nles opened #66 "[Bug] vts-input--invalid not working in any case"
Noticed that `vts-input--invalid` does not work at all. Seems to be due to a reference to `invalid.anyInvalid`, which does not exist. Referencing just `anyInvalid` seems to work. There's few other places in the file with the same reference to this non-existent variable.

Would also make sense to have the `vts-input--invalid` class to only be added when input is dirty, similar to how it is in your

[2020-03-25 18:16] nles commented on #66
Created a pull request: https://github.com/Stegosource/vuetensils/pull/67

[2020-03-25 18:44] Stegosource commented on #66
Thanks @nles. PR merged. Nice work!

[2020-03-25 18:44] #66 closed

[2020-04-01 09:35] lbineau commented on #36
I faced the same issue and solved it this way:
[code]

It then generates something like:
[code]
`.vts-toggle` is scoped so imo it is ok enough as you can unscoped and use the CSS cascade to style this specific component.

[2020-04-01 15:36] Stegosource commented on #36
@lbineau are you trying to add styles for just this specific instance of VToggle? Because my original thought was that folks would style every instance the same. In that case, just doing the following would work:
[code]

But for instances where you want a custom style, my thoughts were to use a custom class:
[code]

Of course your way works as well and might work better for the people that perfer

[2020-04-02 19:39] gwenf opened #69 "Bug: export 'VForm' was not found in 'vuetensils'"
VForm export is missing even after I updated my version to `0.5.4` and tried reinstalling packages.

Here is the list of exports I have in my `vuetensils/dist/vuetensils.min.js` file:
[code]

[2020-04-07 13:43] Stegosource commented on #69
@gwenf Can I close this ticket now?

[2020-04-09 00:23] lindsaykwardell opened #71 "Unable to build Gridsome site"
Ran into an issue building my Gridsome site with the latest version of Vuetensils (0.5.6). For reference, I am importing VToggle on one page.

During the build, I am getting the following error:

[code]

This is the function from the top of the stack trace:

[code]
I cannot find this function in the code base, so I'm not sure where it's getting called or why.

EDIT: As a follow-up, when I copy the

[2020-04-09 01:07] Stegosource commented on #71
This is probably something to do with SSR. It's on my todo list to test component for SSR support more thoroughly.

It's not a solution, but a possible workaround is to wrap the VToggle component in Gridsome's `<ClientOnly>` component so the server does not try to render it.

Can you try that and let me know if it works?

[2020-04-09 13:22] lindsaykwardell commented on #71
Looks like that worked fine.

I'm still a bit confused though. When I copy/paste the VToggle component (and the randomString function for it) into my code, there's no issue. Where is the addStyle function even coming from?

[2020-04-09 13:35] #69 closed

[2020-04-09 13:49] Stegosource commented on #71
I'm not sure why it works when you copy/paste, but the `addStyle` function is probably the result of the Rollup bundling the original source. I'm going to close this issue as it's still part of my other task of looking into SSR support better.

[2020-04-09 13:49] #71 closed

[2020-04-14 11:03] andrewspy opened #72 "v-copy does not work with reactivity and computed property on nuxt/vuetify"
`v-copy` only copied the initial value, and reactivity / computed property does not seem to work as expected. Below are snippets for nuxt/vuetify using vuetensils@v0.6.1. Not sure if it's related to nuxt/vuetify only.

[code]

[code]

[2020-04-14 12:34] lbineau commented on #36
@Stegosource I wanted to style a specific instance (same than @jllagerberg as far as I understand).
The major benefit of CSS scope imo is when you have an application/widget integrated in a another plateform (a vueJS component inside a wordpress for instance). You don't have to fear your CSS is going to "leak" to the app website container.

But even in the case you want to style the same way all V

[2020-04-14 13:22] Stegosource commented on #72
Hey @andrewspy, thanks for the bug report. I think it makes sense that this doesn't work. Not just a Nuxt/vuetify thing. I've got an idea on what the solution is. Pretty simple :)

[2020-04-14 13:37] Stegosource commented on #72
@andrewspy, I just pushed up a fix. Tested it locally, but can up upgrade and let me know if it works for you?

[2020-04-14 18:32] andrewspy commented on #72
@Stegosource Thanks for the quick fix. It is working as expected now. Closing the issue.

[2020-04-14 18:32] #72 closed

[2020-04-14 18:37] Stegosource commented on #72
Yep. Thanks for the bug report. Please feel free to checkout the latest release notes and let me know what you think: https://stegosource.com/vuetensils-0-6-simpler-forms-better-accessibility-useful-filters/

[2020-04-15 15:02] Stegosource commented on #36
@lbineau. Thanks for the clarification. This is great. I want to put together a cookbook for useful snippets. This should be one of them :)

[2020-04-17 19:42] fimion opened #73 "[Feature Request] Add LICENSE.md file"
I know in your package.json you have the license listed as MIT, I was wondering if you could add an actual LICENSE.md file with the license?

[2020-04-17 20:23] Stegosource commented on #73
Yeah. I can certainly add this. I want to make a CHANGELOG.md as well.

[2020-05-04 07:35] AeonFr opened #74 "[Feature request] Dropdown items, with search and keyboard navigation"
Hello! I'm missing a feature from vuetensils' dropdown, that I think every good dropdown should have.

Just like a native select, it would be nice to implement a basic search functionality and arrow navigation (following the "roving focus" pattern).

This is great for accessibility.

I think this could be made inspired in an API just as the one from Reakit.

[code]

It consists in separating the c

[2020-05-04 14:58] Stegosource commented on #74
Hey @AeonFr thanks for your thoughts and the very detailed comments. I totally agree, and this has been on my roadmap for a while. It's a bit of work, and a lot of thinking to get it there though. I know I want it to be a single component, and I'm still searching for a good definition of what I want the DX to be like.

I've got a couple other components lined up for the next release, so this one p

[2020-05-05 07:04] AeonFr commented on #74
Good to know this is on the roadmap!

I took a peak into the [dropdown component from Vue Bootstrap](https://bootstrap-vue.org/docs/components/dropdown). I liked the API they have, because they only use two components. (at the moment, they don't support search but _do_ support arrow navigation.)

[code]

Again, thanks for the response and I hope this examples are useful as a reference

[2020-05-05 14:54] Stegosource commented on #74
Yeah, so this is part of what I want to figure out. Until now, each component has only used one tag, which I prefer. I never liked when a library required me to use so many custom components. But using a single tag also means I need to rely on scoped slots more to provide the functionality and attributes needed to hook things up.

My feelings right now is that this should be either a `<select>` wi

[2020-05-05 15:06] alex-nextraq commented on #74
So I'll add my 2 cents into this.

Since a native select element is a compound tag (it requires that you use an option element inside of it) then this is an instance where making a compound component that needs 2 components is not unreasonable.

[2020-05-05 15:24] Stegosource commented on #74
Thanks for the input @alex-nextraq. I would push back on your comment about the `select` element. I did get around compound components in the VInput component which can implement a `select` by accepting an array of options. Also, you don't really need a custom component for the `<option>` tag since there isn't anything you can do to customize it. Just pass them through the component `<slot>`.

To

[2020-05-14 13:56] TheJaredWilcurt opened #76 "Dependencies are out of date - 4 breaking, 107 versions behind"
# There have been **[4](# '4')** breaking changes.

## Your project is **[107](# '107')** versions behind being completely up-to-date.

### 1 package skipped, per ManifestComments.

Status | Package | Version | Type | Latest | Behind by | Breaking
:-- | :-- | :-- | :-- | :-- | :-- | :--
&#9888; | [@babel/core](https://www.npmjs.com/package/@babel/core) | 7.8.7 | devDependencies | 7.9.6 | 2 | 0
&#9

[2020-05-14 13:57] TheJaredWilcurt commented on #76
Did this from my Jest testing branch, since it adds several new dependencies.

[2020-05-15 20:27] TheJaredWilcurt opened #78 "Updating vuepress-plugin-live breaks docs examples"
Updating `vuepress-plugin-live` from `1.4.2` to `1.5.0+` breaks the following examples in the docs:

* http://localhost:8080/components/Async.html#call-promise-using-refs
* http://localhost:8080/components/Dialog.html#prevent-scrolling
* http://localhost:8080/components/Drawer.html#styled-examples
* http://localhost:8080/components/Drawer.html#examples
* http://localhost:8080/components/Drawer.htm

[2020-05-15 20:31] TheJaredWilcurt commented on #76
Will be fixed by #77

[2020-05-15 20:36] Stegosource commented on #78
Interesting. Im going to have to spend some time with this one.

[2020-05-16 15:11] Stegosource commented on #76
Fixed

[2020-05-16 15:11] #76 closed

[2020-05-16 15:11] Stegosource commented on #73
Dine

[2020-05-16 15:11] #73 closed

[2020-05-16 22:57] TheJaredWilcurt commented on #78
Specifically happens when going from v1.4.2 to the next release, 1.5.0 (or above).

* [v1.4.2 to v1.5.0](https://github.com/vue-styleguidist/vuepress-plugin-live/compare/v1.4.2...v1.5.0)

Not much changed between these two, so hopefully it is easy to figure out.

One change that occurred was updating a dependency, Vue-Live, from [v1.4.3 to v1.6.0](https://github.com/vue-styleguidist/vue-live/compa

[2020-05-19 15:47] TheJaredWilcurt opened #79 "A11y automated testing"
* [x] [ESlint-Plugin-Vue-A11y](https://www.npmjs.com/package/eslint-plugin-vue-a11y) - This is a pretty easy win. Just a lint plugin to catch some simple stuff.
* [x] [Pa11y](https://pa11y.org) - is a pretty good tool. It could test against the built docs pages for WCAG/Section 508. Would take a little more time to set up, but could then automate reports.

[2020-05-19 15:52] Stegosource commented on #79
Yeah, this is a good idea. I've got some local a11y linters set up which catch stuff locally, but if more folks start contributing then integrated a11y linting on commit would be a good step, and then in CI/CD is even better.

Great idea!

[2020-05-19 16:46] TheJaredWilcurt commented on #79
I'm pretty strongly against tying anything into git hooks. It just breaks too many git GUI's, and it forces people with different workflows into something that may be inconvenient. Just having a CI run the check is fine. As long as you can't merge to master until those are fixed, it doesn't matter if it's done on every commit, or as the last commit.

[2020-05-20 13:39] TheJaredWilcurt opened #81 "Automate CI/CD"
**Automate PR quality:**

* [ ] Linting must pass
* [ ] Tests must pass
* [ ] Build must not fail
* [ ] Netlify preview of the docs should pass

**Automate builds:**

* [ ] Libray build should be produced
* [ ] Docs build should be produced

**Automate deploys:**

* [ ] Bump version of `package.json`
* [ ] Tag git with new version
* [ ] Release to npm

[2020-06-20 16:15] agritheory opened #86 "Documentation for Nuxt integration"
I am trying to import components as a Nuxt plugin and all kinds of strange things are happening.
My testing has been limited to the VDrawer component.
I have tried registering components in a  Nuxt plugin which raises: `Unexpected token 'export`
[code]
When I try to use the component directly in my index.vue, I get `document is not defined` which means this component is trying to access the docume

[2020-06-20 18:26] Stegosource commented on #86
Hi @agritheory. You're absolutely right on several points. Currenlty Vuetensils does not support SSR. The best advice I have in the short term is to wrap any Vuetensils component with Nuxt's `<client-only>` component (https://nuxtjs.org/api/components-client-only).

I've been working on expanding the offerings of Vuetensils, and exploring how I want the API to look like. As I near the release of v

[2020-06-20 18:38] agritheory commented on #86
@Stegosource Thanks, this makes sense. I will try `<client-only>` to see if it works with the drawer.

"vendor" the I'm using it is to bring a dependency into the parent repository and keep the code there, modified or not.

[2020-06-20 18:53] Stegosource commented on #86
Ok, I think I might understand you. Vuetensils is a zero-dependency library and Im going to keep it that way. I dont like worrying about security or maintenance for so many libraries in my projects and I dont want my users to deal with it either. So anything I need will be in the source code and easy to get to. The reason for this error is actually known to me, and I know how to fix it. There is a

[2020-07-07 16:19] TheJaredWilcurt commented on #81
Related, had an idea:

* https://youtu.be/fEA7p-4M9Xw

[2020-07-07 16:26] Stegosource commented on #81
Yep yep yep. For sure this is an issue. Haha.

The circle-ci files I have here were copied from another project and I have been meaning to fix it. It should be a simple fix, but as you mentioned in the video, I wanted to take this opportunity to test out GH actions. So Im all on board for this.

For the time being, we can remove the Circle CI folder. And then I'll add some actions as I can. Actual

[2020-07-23 02:22] #62 closed

[2020-07-23 03:19] Stegosource commented on #81
Hey @TheJaredWilcurt Im finally getting into this and testing out some stuff. Trying to run eslint I keep getting this error:
[code]

That mean anything to you? Seems to have something to do with VAction being a .vue file. I thought I had eslint setup to handle these fine before.

[2020-07-23 14:57] neilh-cogapp opened #92 "VInput: Programatically updated value of v-model isn't reflected in the input element"
Hello - thanks for the cool library. Just wondered if this is a possible bug?

[code]

1. Enter a value into the input
2. Clicking the button (or setting value of `this.query` programatically) results in the value of `this.query` being correctly set, but the value shown to the user in the input is not updated.

[2020-07-23 15:14] Stegosource commented on #92
Just tested this out. The issue makes sense why it's happening, but it's not the expected behavior. I should be able to fix it though :)

Thanks for reporting

[2020-07-23 15:16] neilh-cogapp commented on #92
Thanks for the quick response, happy to help.

[2020-07-25 14:02] Stegosource commented on #92
I believe this issue is fixed and will be out in the next minor release.

[2020-07-25 14:02] #92 closed

[2020-07-27 08:20] neilh-cogapp commented on #92
0.7.2 has fixed the issue. Thank you very much.

[2020-07-27 22:05] volkipp opened #94 "Keyboard input not working on some VInput text fields and email fields properly"
With the latest release (0.7.2), VInput with a standard text field no longer allows typing with the keyboard. I tested it out on Chrome, Safari, and Firefox on Mac to make sure it wasn't a browser quirk.

I was able to see it also affects your documentation page here when you attempt to type into the "features" field in the Description section: https://vuetensils.stegosource.com/components/input.h

[2020-07-27 22:56] Stegosource commented on #94
Oh what the heck!? Thanks for catching that. I think I found the problem. Urgh.

[2020-07-28 00:59] Stegosource commented on #94
@volkipp Can you give it a try with 0.7.3? I think I got it solved for `v-model` or just `value`.

[2020-07-28 21:10] volkipp commented on #94
@Stegosource the good news is that it looks like it helped on the text fields! The bad news is that now I'm running into some weird issues with type=select drop downs where they won't select. It seemed like they worked the first time with tabbing into them and selecting using keyboard, but now they appear to be broken using the mouse. I haven't had time to see if it also appeared in 0.7.2 as well,

[2020-07-28 21:33] Stegosource commented on #94
@volkipp Can you try putting together a codesandbox with your code?

I just tested the following in the Vuetensils playground and it seems to be working fine:
[code]

https://vuetensils.stegosource.com/components/Input.html#input-types

Tested with just setting the `:value` attribute, using `v-model`, and even with `multiple` attribute.

[2020-07-29 03:20] callumflack commented on #86
I use Nuxt extensively and I usually don't have any problem wrapping, say VResize, in `client-only`. However, I noticed on 0.7.3 that simply doesn't work. If I revert back to 0.7.1, it's fine again.

That's probably not that helpful @Stegosource but maybe it'll trigger something in your recent memory…

[2020-07-29 15:43] volkipp commented on #94
Sure thing! I was able to narrow it down a bit. It looks like it might be a VForm issue, or at least an interaction between VForm and VInput. Here's the code sandbox:

https://codesandbox.io/s/flamboyant-tree-b7ge2

[2020-07-29 16:31] Stegosource commented on #94
OK, I took a look at your example and did not notice any problem or difference between the two implementations. Tested in Firefox and Chrome on Linux. Can you go to this site and paste the link they give you back here: https://www.whatsmybrowser.org/

[2020-07-29 16:34] Stegosource commented on #86
@callumflack Really sorry about that, and thanks for the feedback. This is really helpful and important to me. I won't launch the official v1 until I have full Nuxt integration sorted out.

In regards to what would have triggered an issue, the only real changes to the code were to the VInput component. However, my guess is that it's something to do with some recent dependency updates I made.

Can

[2020-07-29 17:07] volkipp commented on #94
I'm so sorry, that was on me. While I was verifying the bug I set the vuetensils dependency to 0.7.1 and forgot to set it back to 0.7.3. I'm on a Mac, and I've verified Chrome 84.0.4147.89 and Safari 13.1.1 both have the issue. Firefox seems to be happy so I guess it's a webkit thing.

[2020-07-29 18:07] Stegosource commented on #94
No worries. I've certainly done similar myself :)

So, when you say you verified both those browsers have the issue, do you mean it still exists in Chrome and Safari on Mac with version 0.7.3?

Or has the issue been resolved with 0.7.3?

[2020-07-29 19:44] volkipp commented on #94
I changed that code sandbox back to use 0.7.3 to help in debugging, though you might want to double check the package.json. 0.7.3 does not work for VInput selects inside a VForm on Chrome or Safari on the Mac.  I also tested 0.7.3 on iOS 13.6 Safari, and that also has the same bug with VInput inside VForm in that code sandbox.

[2020-07-29 19:53] volkipp commented on #94
So to add to the fun, I opened up BrowserStack Chrome on Windows 10 does not have the same bug. If you can't reproduce on Linux this may be a Mac and iOS specific bug with 0.7.3.

[2020-07-29 20:26] Stegosource commented on #94
Yeah, I got a remote session in on a Mac machine and also confirmed this seems to be isolated to VInput inside VForm on Mac.

Thanks for the help with reporting this. Will be hard to debug without a Mac to dev on, but I think I can get it sorted.

[2020-07-30 00:58] volkipp commented on #94
Platform specific bugs are definitely the least fun to debug. Let me know if there's anything I can do to help.

[2020-07-30 02:25] Stegosource commented on #94
Thanks. Yeah, I took a stab at it with what tools I have at my disposal, but I dont think I'm actually going to be able to debug this myself. I dont know if you've broken into the codebase much, but I THINK it's somehwat straightforward if you want to take a crack at it. I'll also ask some of my dev friends and see if anyone is keen to take a look.

[2020-07-30 03:30] Stegosource commented on #86
@callumflack Diving into this a bit now. What are the errors you're getting with VResize if you don't use the `client-only` component? I just installed Nuxt and started playing around with it and did not see any issue using VResize directly.

@agritheory Could you also answer the same question?

I've just run it with
[code]
And did not get any error during dev or running the build command. I did n

[2020-07-30 11:49] callumflack commented on #86
Hey @Stegosource no sorrys, all good. I think I got the error while I was using `client-only` as well. I've never had the issue before when using Resize, so I guess it was weirdly particular to a project. I should have time tomorrow to recreate and record it.

Concurring with your list above — all the other components work fine out fo the box with Nuxt except VImg for which I have my own component

[2020-07-30 11:58] callumflack commented on #86
Quick rundown of the Image component I've been using for some time. I use [v-lazy-image](https://github.com/alexjoverm/v-lazy-image) with some salt:

[code]

But instead of providing an array of picture srcs, I measure the element and compute parameters for an imaging service, like Cloudinary or Imgix.

[code]

Beats managing picture srcs.

I tried using VImg recently. Bur realised I can't use it

[2020-07-30 14:05] Stegosource commented on #86
Yeah, that's a good way about it. I think services like Cloudinary and Imgix do a fantastic job for optimizing things. Vuetensils is a zero-dependency project that aims to stick as close to the HTML spec as possible, so I can't quite do things like you're doing, but this looks like a good alternative.

By the way, @callumflack and @agritheory can you share the projects you're using Vuetensils on?

[2020-07-30 14:05] Stegosource commented on #86
Also, closing this as the last thing missing will be fixed in the next release.

[2020-07-30 14:05] #86 closed

[2020-07-30 23:40] Tintef commented on #94
@Stegosource Hi, how are you?

I went ahead and it give a try, and this is what I found:

- It looks like the `v-model` is not working when the `select` is nested inside the `form`
- Adding a `@input` listener and using that to modify `this.localValue` does the trick and doesn't break the "no form" variant

If this is an acceptable approach, let me know and I can open a PR.

Anyway, I'll keep look

[2020-07-31 00:49] Stegosource commented on #94
@Tintef any PR would be very much appreciated. It's a bit beyong me why this wouldn't work in the very specific case of Mac+Webkit. I know @TheJaredWilcurt added a little bug fix for this sort of thing when VInput was nested inside VForm. There isn't anything I can see from combining the two that stands out to me though, and until I can get a spare Mac to dev on, I dont have a good way of debuggin

[2020-07-31 00:55] Tintef commented on #94
I'm good! 😄

Actually, I just found the real issue (I think...).

When nested on the `VForm`, the `onEvent` method of the `VForm` is called.
So the `VInput` doesn't updated the internal `localValue`, instead, that value should get updated by the watcher of the `value` prop, but that isn't happening 😞

Currently trying to figure out why

[2020-07-31 02:19] callumflack commented on #86
Cheers @Stegosource, I realise the image component rundown was off-topic. I wouldn't want any other dependency in Vuetensils. But it might be worth checking out how v-lazy-image is done vs the current VImg.

I use veutensils on all my projects in the past 6 months. Example: https://www.round.com.au

[2020-07-31 13:55] Stegosource commented on #86
Nice. I'll check it out. You got any more to share? Trying to build a nice list.

Regarding the v-lazy-image, I think I missed something. What features does v-lazy-image have that are missing in VImg, or what do you think can be improved?

[2020-07-31 18:55] #94 closed

[2020-08-01 14:55] Stegosource commented on #94
@volkipp I just published the latest release and tested on Browserstack. Seems to be fixed https://codesandbox.io/s/lively-sea-e97nj?file=/src/App.vue

Thanks for the help @Tintef. Really not sure WHY that fix worked because under the hood, that's what `v-model` does anyway, but I'm grateful to have someone that could step up and do the testing that I couldn't do myself :)

[2020-08-01 21:59] Tintef commented on #94
I'm not sure either 🤷‍♂️

[2020-08-03 17:15] volkipp commented on #94
That example is working on iOS for me, as well as the Mac. Thanks @Stegosource and @Tintef! What a weird bug

[2020-08-05 19:39] volkipp commented on #81
Hi @Stegosource , it looks as though those errors are being generated by the Typescript compiler and not ESLint. It also throws some other errors related to adding non-native properties to an HTMLElement.

If you change your build command in package.json to `npm run build:umd && npm run build:es && npm run build:unpkg` it clears up those errors. I'm not sure if you were planning on generating some

[2020-08-05 19:55] volkipp commented on #81
Ok I see what's going on now with those Typescript definitions. I was able to clear up those errors by including a Vue shim. There is still an issue with some of the type annotations in `src/directivees/clickout.js` which I haven't had the time to dive into. Here's a branch so you can see the module resolution fixes though:

https://github.com/volkipp/vuetensils/tree/lint-fix

[2020-08-05 20:07] Stegosource commented on #81
@volkipp That's super helpful. I am using TS to generate type definitions with the goal of providing consumers some nicer intellisense. I got as far as to know I needed a shim, but did not sort out how to set that up.

Also, good catch on that build command. My silly mistake using `&` instead of `&&`. I was wondering why it never caught the errors.

Thanks!

[2020-08-07 00:33] volkipp commented on #81
No problem @Stegosource ! Glad that was helpful. I only noticed the `&&` thing because I've done the same thing way too many times. :D

[2020-08-07 23:32] volkipp commented on #81
The linter should be happy again with this pull request https://github.com/Stegosource/vuetensils/pull/96

I also added in those other types so the TS definition files get generated now too. It looks like there's just one test failing and that has to do with a change to VBtn

[2020-08-08 17:26] hacknug opened #98 "[Feature Request] VTable improvements"
As requested on the docs page for VTable, here's some thoughts on what's missing and could be improved:
- [ ] Remove component styles (they're interfering with my tailwind classes due to increased specificity)
- [ ] Being able to add classes to `tbody` (I'd prefer using the default/body slot and being able to write the element myself)
- [ ] Add slots to customize `thead` and `tfoot` (I know there'

[2020-08-08 17:46] Stegosource commented on #98
Hey @hacknug, thanks for the feedback. It's really valuable to get comments from folks like you so I'm not working entirely in a silo.

To be honest with you, VTable is probably the component I am least proud of. I agree that there are several changes that need to be made. I've been keeping these changes until V1 because I didn't want to introduce breaking changes on a minor release (even though i

[2020-08-09 14:44] #58 closed

[2020-08-11 14:40] TheJaredWilcurt commented on #81
Supposedly Visual Studio and VSCode can infer types from JSDoc comment blocks in the same way as it can from TS, and can even offer descriptions of each argument.

[2020-08-11 15:20] Stegosource commented on #81
Yes it can. That's how I have it set up. And TS can also do it's thing with JSDoc, so I have the complier run over the code to catch any mistakes. It's pretty handy, and I like that I don't have to wrtie TS.

[2020-08-12 12:56] hacknug commented on #98
Mostly this:

[code]

I don't think we need that since all divs are already block elements by default, no?

Agree. I'll use `VTable` as a base for my needs and will try to get back to this once everything is implemented to see what could/should be ported back to the library (final call on what gets added is yours, of course).

[2020-08-12 13:43] Stegosource commented on #98
Yeah, well feedback is welcome. As for the styles, it's there in preparation for some other work that was intended but never got done. I played with the idea of making it responsive so that the layout changes. That's why there is a media query. On small screens, it would look much more different.

I still need to use the tables more to see how I like it. Ultimately I want all these components to f

[2020-08-20 18:59] volkipp opened #101 "IE 11 compatibility documentation"
I recently discovered that simply registering any of the components in Vuetensils breaks IE11. It took a min, but I realized that most babel configurations will not transpile anything in the node_modules folder by default.

It would be great to help others to document how to fix in a Vue CLI project and Nuxt projects since, sadly, IE11 is still a requirement by some companies.

**Vue CLI:** vue.co

[2020-08-20 19:35] Stegosource commented on #101
Ok, this is a really good thing to know. Up until recently I've been including a transpiled version. I stopped including that because I figured it adds extra bloat, and the library itself is not really designed to be used directly as is. I always expect the components to be extended upon. I didn't know that Babel would ignore `node-modules` folder, so that changes things, I think.

Moving forward

[2020-08-20 21:56] volkipp commented on #101
Glad to help! I would also agree that not including polyfills and transpiling is a better approach to reduce bloat. It would also help keep filesize down if you're doing something fancy like bundling a modern and legacy version of your compiled javascript.

I think simply documenting how to make the library compile for IE is good enough. If you're using the CLI for Vue or Nuxt, it's a very small c

[2020-08-20 21:59] Stegosource commented on #101
Agreed. Actually, only the `VIntersect`, `VImg`, and the `intersect` directive use IntersectionObserver, and they already do have the note about including a polyfill.

Thanks for your support on this. I'll be sure to add the notes about IE11 support to the Introduction section.

[2020-08-20 22:14] volkipp commented on #101
Anytime! 🍻  Happy to spare someone a moment of panic when they see IE not loading.

[2020-09-25 13:44] goetsu opened #104 "dialog component accessibility"
to improve accessibility of the dialog component https://vuetensils.stegosource.com/components/Dialog.html#installation
it would be great to add two attribute on on the generated <div tabindex="-1" role="dialog" class="vts-dialog__content"> <div class="bg-white">
*  aria-modal="true" that will make content outside of the modal not readable by screenreader
* aria-label="xxx" where xxx = a variable

[2020-09-25 15:14] Stegosource commented on #104
Thanks. Ill add it to the list of fixes for the v1 release.

[2020-09-25 21:57] TheJaredWilcurt opened #105 "Vue 3 support"
There should be a Vue 3 compatible version of Vuetensils. Not sure how it should be handled (new major version bump, or just two different branches).

[2020-09-25 22:06] Stegosource commented on #105
Yeah, I was already prepping a major version bump anyway, so I think I'll add support there anyway. Im curious what doesnt work or where the gaps are though. V3 should be somewhat backwards compatible.

[2020-09-25 22:37] TheJaredWilcurt opened #106 "Vuetensils Logo"
The current "logo" is really just the fork/knife emoji (🍴), the official Vue logo, then the hammer and wrench emoji (🛠️).

<p align="center"><img src="https://vuetensils.stegosource.com/static/logo.png" alt="Current Vuetensils logo"></p>

The concept behind the current logo is to convey that it is a Utility component library for Vue.js. The knife/fork are as a reference to the name "Utensils" also

[2020-09-25 22:45] Stegosource commented on #106
Yeah, you pretty much deconstructed my thinking exactly. This was something I just put together quickly. It got some folks that said they like it, but it's not something I'm hooked on. Why, you know someone? That would be cool. Open to whatever thoughts, but I do like the reference to "utensils" being utility components.

[2020-09-27 23:40] patrickcate commented on #105
I believe Vue 3 no longer has filters.

[2020-09-28 15:05] gwenf commented on #105
I'll be working on this this week. I'll update here as I find things and hopefully make a PR soon.

[2020-09-28 15:09] Stegosource commented on #105
That would be awesome @gwenf. Thank you!

[2020-09-28 19:42] TheJaredWilcurt commented on #106
**Logo idea:**

There is actually a utensil napkin folding pattern called "Ice cream cone" that gives a nice **V** shape, while holding utensils. Something around this idea could be used.

![vue](https://user-images.githubusercontent.com/4629794/94477749-4c36ff80-01a0-11eb-8144-918deff6d04c.jpg)
![vue-](https://user-images.githubusercontent.com/4629794/94477757-4e995980-01a0-11eb-819b-b130e2af9419

[2020-09-28 20:56] Stegosource commented on #106
Hahaha. Thats pretty cool. I wonder how well it would play with the Vue logo. Do you think we would still keep the reference to tools? Or just drop those?

[2020-09-29 02:26] gwenf commented on #106
@Stegosource the tools seems extra to me. I like Jared's idea above which would be a good way to combine the 'V' shape of the Vue logo with utensils. I don't see any reason to add tools on top of that.

[2020-10-01 16:57] gwenf opened #107 "Select inputs should be able to have custom styles"
Two requests:

* this functionality should be implemented
* an example of a fully styled form should with select dropdowns included should be added to the documentation

Is it possible and in line with the goals of this project to make a custom select dropdown to allow for more custom styling options?

[2020-10-01 17:15] SeekerOfTrueCode commented on #107
Yes, as we know the native html select inputs are not fully style-able in terms of it's options.
Because of that many component libraries decided to use "divs" and other elements to simulate the select input and give it full css cross-browser customization.

But often those solutions make the component "messy" in terms of having too many html elements.

I don't know where is the best solution nor

[2020-10-01 17:54] Stegosource commented on #107
I have a couple of thoughts on this. I do want the documentation to go into more examples of what the full extent of custmoization is. I'm also not sure what sort of customization you're talking about.

The intent for components named after HTML tags (VForm, VInput) is to behave as close to their native counterparts as possible but with some super powers. So `<VInput type="select">` should impleme

[2020-10-01 18:13] SeekerOfTrueCode commented on #107
I see, if that's the case then we just have wait for those custom components :)

[2020-10-01 18:59] Stegosource commented on #107
Yeah. Im sorry, I really want to keep pushing out cool stuff, but I've had a lot on my plate...

![image](https://media.giphy.com/media/3ohA2ZD9EkeK2AyfdK/giphy.gif)

[2020-10-03 01:06] AustinGil opened #108 "VInput custom error messages."
Hey @TheJaredWilcurt and @gwenf I've been using Vuetensils more at work and running into the issue where I want to be able to support error messages. Ive got a syntax like this so far

[code]

I've been able to get around this for the most part with a wrapper component, but I think this would be a nice addition. What do you think of the syntax?

[2020-10-03 20:07] TheJaredWilcurt commented on #108
Been using Vee-Validate 2 at work for about 2.5 years. Version 3 is a completely different library/approach. So rather than update to it and re-write our codebase with it in mind, we are considering evaluating other options (like Vuelidate), or simply not using a validation library. More than 60% of the time we handle the validation of elements on a page by hand anyways.

Often because the validat

[2020-10-04 04:08] Stegosource commented on #108
Yeah, I get your point, but there is already some validation logic baked in, using just HTML validators and the Validity API. The amount of code needed to support basic error messages is not so much:
[code]

[2020-10-04 18:14] TheJaredWilcurt opened #109 "ASync docs error"
https://vuetensils.stegosource.com/components/async.html

after about a second there is an error in the console

[2020-10-05 14:59] Stegosource commented on #109
Yes, this was a known error. Something to do with how the examples were written in the docs. Fixed it locally and should be published soon.

[2020-10-05 14:59] #109 closed

[2020-10-05 21:09] Stegosource commented on #108
@TheJaredWilcurt

Another option is to include something like what Vuetify does with its rules prop https://vuetifyjs.com/en/components/inputs/#rules

I like it because the validation logic is passed off to the user to implement. Then we could provide validators that could be imported optionally, but are not included by default. So it could be something like
[code]

[2020-10-08 01:11] TheJaredWilcurt commented on #108
Yeah, I think that's better

[2020-10-10 13:54] #79 closed

[2020-11-04 04:31] Kikketer commented on #107
I'm currently just experimenting with Vue and seeing how it would compare to what I'm currently building with React.  This library is a really good 1:1 fit with A11Y components, except for the select box.  I realize it's incredibly complicated and take this as a "keep it up".

What we are using for the select element is the Adobe Aria library (https://react-spectrum.adobe.com/react-aria/useSelect.

[2020-11-05 17:37] AustinGil commented on #107
Thanks @Kikketer. I really appreciate the kind words. Im looking forward to nailing some stuff down for the v1 release, but I keep finding more things to fix o.O

[2020-11-07 05:13] gwenf commented on #105
Just want to post an update on this issue.
I've been trying out updating this library and I think we should wait for 2 things:

1. Migration build which should be out soon: https://v3.vuejs.org/guide/migration/introduction.html#breaking-changes
1. Vuepress to support Vue 3, which they are working on: https://github.com/vuepress/vuepress-next

[2020-11-07 05:34] AustinGil commented on #105
Thanks for the update @gwenf. I was thinking about this recently as well. Been too busy with other stuff, but I've been doing more work with Vuetensils on a work project which is the best way for me to make some decisions about things. Whats missing, what could be better, etc.

[2020-11-10 14:45] lbineau opened #112 "Multiple Drawer component opened at once"
Hello @AustinGil ,

I've a question regarding the Drawer component.

- Is it possible to use a single model to handle multiple Drawer components? (like a model for radio group)

Currently I'm facing an issue where multiple Drawers are opened at once which I believe is not the desired behaviour.

Thanks for your time.

[2020-11-10 18:09] AustinGil opened #113 "Add open and close events to modal and drawer"
Title says it all :)

[2020-11-10 18:12] AustinGil commented on #112
That's an interesting question. Of course you can use v-model with multiple drawers, but that would open and close them at the same time. However, what I believe you are trying to do is toggle between different drawers. You should be able to do that as well but it's not automatically supported.

This component uses a custom prop for v-model called `showing`. Setting this to a truthy value should s

[2020-11-10 18:12] #112 closed

[2020-11-10 19:41] lbineau commented on #112
Thanks for your quick reply.
The solution you proposed seems to work quite well, just an issue with the focus returning to the previous drawer toggle button. I can live with that for now.
I will have a look again when https://github.com/AustinGil/vuetensils/issues/113 gets implemented.

[2020-11-11 04:35] AustinGil commented on #112
Ah yeah, that's a feature that is intended to assist with a11y. Yours was not a use-case I considered so I may need to think about it.

[2020-11-11 14:17] lbineau commented on #112
No I mean the accessible behavior is the reason I'm using your library, I totally get it should return to the trigger button when drawer is closed :-)
But when switching drawers the focus goes back on the trigger button of the previous drawer not the current one.
My usecase probably does not worth digging with your library, I'll think of something else no worries.

[2020-11-11 15:54] AustinGil commented on #112
Yeah, you can try using refs to get the next focus target, and then you'll probably need to hook into $nextTick.

[2020-11-14 23:30] patrickcate commented on #106
![vuetensials](https://user-images.githubusercontent.com/6277206/99159085-6755c400-26a7-11eb-9601-f090fac20c5c.jpg)

Here's one rough idea I had. Plays more on the utility/tools aspect.

[2020-11-15 06:18] AustinGil commented on #106
Whoa. Super cool @patrickcate. Nice work. Do you think it's a good idea to include a fork and spoon to tie in the "utensils" idea?

What do you think @TheJaredWilcurt? It's different than your idea with the napkin, but it's pretty cool.

[2020-11-15 14:54] patrickcate opened #114 "[Feature Request] Markup support in tab labels"
I think a good addition for the tab component would be to allow markup in the tab labels. This would allow the addition of things like icons in the labels.

I assume using slots for the tab labels would give the most flexibility, but I'm sure there are other ways as well.

[2020-11-16 05:31] AustinGil commented on #114
You're absolutely right. In fact, I thought about this when I was building the components. Using the named slots was kind of an experiment just to see if it would work, and how it would feel. I like it, but it does have that one flaw.

The challenge for providing flexible content is to ensure that the component is still accessible. Most libraries provide tabs through a "compound" component made up

[2021-01-05 17:00] jjjsmit opened #116 "Intersect question: how to observe many child elements in v-for loop"
I am very impressed with Vuetensils.  I must compliment you on your succinct and well written code.

I'm evaluating the Intersect directive for a case where there are potentially thousands of child elements rendered in a v-for loop.  It appears that Intersect creates a new IntersectionObserver in every child element.  As I read the Intersection Observer API docs, the intended pattern is to create

[2021-01-05 17:15] AustinGil commented on #116
Hey, thank you very much. This is a very good question, but not one I have an answer quite ready for. You are absolutely right that IntersectionObserver is intended to support observing multiple targets. However, I dont think that was my intention with this component. At the time I created it, there wasn't a clear way I could think of to specify which elements to target.

I think it's possible now

[2021-01-06 10:30] lbineau commented on #101
I also had this issue and I knew Babel do not transpiled node_module by default.
But didn't know Vuetensils was not transpiling on the last releases thanks for bringing it up!

[2021-01-06 14:11] gwenf commented on #105
Update: Vuepress Next is in alpha 15 already. We can start migrating this soon.

[2021-01-06 15:37] AustinGil commented on #101
Hey, sorry for the delay on this. It's back on my radar now.

[2021-01-10 23:36] ontoneio commented on #113
See PR #119

I wasn't sure if this is exactly what was meant, but I figured it couldn't hurt to try.
Really looking forward to contributing more to this project.

[2021-01-10 23:38] AustinGil commented on #113
Yeah, thanks for this. I've been meaning to get more work done on it, but there are some other things on my plate. I appreciate any help I can get :)

[2021-01-10 23:38] #113 closed

[2021-01-11 02:21] ontoneio commented on #106
Took a stab a laying out a design. Really like the napkin and utensils direction suggested by @TheJaredWilcurt . Love any feedback.

![vuetensils-logo-sketch.jpg](https://user-images.githubusercontent.com/24515434/104142451-85226b00-5370-11eb-8cbc-fb69b213afe0.jpg)

[2021-01-11 13:50] AustinGil commented on #106
That's pretty good @ontoneio. I like it. Let me see if I can make a vector version.

[2021-01-11 15:34] AustinGil commented on #106
First pass. Thoughts?

![image](https://user-images.githubusercontent.com/4879075/104202166-6a3b0f80-53df-11eb-9c63-4884e9f345c8.png)

[2021-01-12 01:39] ontoneio commented on #106
@AustinGil  I dig it, it's great start.
I might be alone in this, but I would love to see the logo be a slight departure from the Vue logo itself.
Utilizing the colors and iconography to communicate we are part of  the Vue ecosystem or something more subtle.

The utensils are really strong shapes and I think work well. Definitely liking that direction, though I would prefer to depart from anything

[2021-01-12 02:53] AustinGil commented on #106
Yeah, I agree. But this was the best I could do before work and I had already spent way too much time playing with the pocket knife idea. I'll keep with the Vue colors, but we can leave the logo out of it :

[2021-01-12 06:21] AustinGil commented on #106
@ontoneio What do you think about these:

[2021-01-12 06:22] AustinGil commented on #106
@ontoneio what do you think about these? The one with the white utensils can also have the utensils be transparent. Wont make much difference on a white bg, but on other colors might be cool

![image](https://user-images.githubusercontent.com/4879075/104277223-53d29980-545b-11eb-82dc-110e826377f6.png)

[2021-01-12 13:09] TheJaredWilcurt commented on #106
the fork looks really wide, like a pitch fork. doesn't look like an eating utensil

[2021-01-12 18:20] gwenf commented on #106
I was just about to offer to hire someone for this, but looks like you are on the right track.
I really like the tri-color one with the white utensils.

What do you think about posting this on Twitter or somewhere and asking for public feedback?

[2021-01-12 19:49] ontoneio commented on #106
I agree with @TheJaredWilcurt the fork looks a bit wide.
I was hoping we could embellish the V shape a bit more perhaps with some of the colors from the Nuxt logo. I think it would work nice as a 4 color scheme.  Something like 3 shades of green and a white for contrast.  Like com patterns on the V to indicate it as something folded like a fancy cloth napkin. There's a subtle drop in the middle re

[2021-01-12 22:15] TheJaredWilcurt commented on #106
I would take these into Illustrator and trace them with the pen tool

![utensils](https://user-images.githubusercontent.com/4629794/104380938-c5f9bb80-54f9-11eb-89d8-b85a4305c216.png)

[2021-01-13 15:08] AustinGil commented on #106
Updated the fork and added a bit of depth. I dont think I want to have too much going on with it though. How does this look?

![image](https://user-images.githubusercontent.com/4879075/104469612-8f5d8880-556d-11eb-8444-7b4a458d3bbb.png)

[2021-01-13 20:03] 2011sandeepraj commented on #105
Hello, Our inexperienced development team is about to decide between using Vue2 and Vue3 for a project in the next week. While most prefer Vue3, we are keeping a close eye on all of the Material design libraries out there including vuetensils. Is there an date when you think this Vuetensils support for Vue3 will be ready to use?

[2021-01-13 20:08] AustinGil commented on #105
Hey, @2011sandeepraj, I dont have a date for support planned yet. I appreciate your support, but I want to also make sure you are aware this is not a Material design library. Are you sure you aren't thinking of something like Vuetify?

[2021-01-13 22:06] 2011sandeepraj commented on #105
Thanks @AustinGil  Right! We are just looking at this library instead of vuetify as vuetify's support for vue 3 is out in Q3/Q4
We did look at PrimeVue as it is already supporting vue 3 but it does lack community support. Others like Quasar are also still under development.
Do you have any other suggestions?

[2021-01-14 01:51] ontoneio commented on #106
@AustinGil coming along real nice!
I hear you about not having it be to busy. I was just playing around. Though I like the newly added depth, I still think there is a lot of negative space used in the foreground. Perhaps something like this? Kinda hides the Vue logo in there a bit without being a dead copy. Something like a monogram on a cloth napkin?

![vuetensils-logo-v002](https://user-images.g

[2021-01-14 22:56] AustinGil commented on #106
This is looking pretty good. I still like the plain one better, but Im cool with a vote. Let's see which one @TheJaredWilcurt or @gwenf  like better and go with that one.

[2021-01-19 13:31] gwenf commented on #106
I like the plain one better too, but @TheJaredWilcurt is much better at this stuff so I will defer to him.

[2021-01-19 22:20] ontoneio opened #123 "[feature] - add complementary role to VAlert"
Per WAI-ARIA [Role=Complementary](https://www.digitala11y.com/complementary-role/#:~:text=The%20complementary%20role%20indicates%20that,of%20complementary%20as%20navigational%20landmarks.)

I am have ran into a use case where there is a relevant piece of content that could be placed into a `VAlert` component, but is not necessarily needing the `role="alert"` [semantics](https://www.digitala11y.com

[2021-01-19 22:26] AustinGil commented on #123
Nice. I'm thinking the best way to provide this is for the role to default to `alert`, and inherit the aria-role attribute if provided. That seems a pretty straight forward and intuitive approach. What do you think?

[2021-01-19 22:36] ontoneio commented on #123
Well, say I have a use case where one piece of content is time sensitive and another is not.  They both still are "alerting" folks to something, but accessibility wise, the semantics are presented differently.  We cannot predict how a developer would like to implement that boolean type functionality, but we can be opinionated about the accessibility semantics.

[2021-01-19 22:45] ontoneio commented on #106
As I am sitting here looking back at the designs I am starting to like the plain one more myself.
I switch my vote or withdrawal my entry. lol

[2021-01-20 02:03] AustinGil commented on #123
So what would be your theoretical example? `<VModal complementary>`?

[2021-01-20 02:41] TheJaredWilcurt commented on #106
follow your heart

[2021-01-20 16:16] #55 closed

[2021-01-20 17:47] ontoneio commented on #123
I was thinking `<VAlert complementary />`  but after meditating on it, I realized I could just use an <aside />` element as it comes with an implied `role="complementary"` from my understanding.  So I think I can figure something out without this as I can see why it would get hairy.

Also, just want to say thank you for allowing me to work through some of this. I am still learning all the intentio

[2021-01-20 17:47] #123 closed

[2021-01-20 18:09] AustinGil commented on #123
Please dont think you are making unnecessary PRs. Having some help is very welcome, and Im sure that there a plenty of folks that know a lot more than I do.

I have reservations on adding things too quickly because once you add it, you cannot remove it without a breaking change. So if a solution can be found with the things available, we should use that. If it's an issue that is solved with better

[2021-01-20 19:04] ontoneio commented on #123
Great to know, and thank you for the clarification. It certainly helps.

Just for the record, you have been a great collaborator. I think I am more worried about myself coming off as overly assertive.
I am working in a bit of a silo at my organization these days and don't get to work with many developers in this fashion (i.e Github, and the sort) even though I use Github myself. So I am still new

[2021-01-20 19:06] AustinGil commented on #123
Thanks. I'm just figuring this stuff out as I go along as well.

Additions to the cookbook would be incredibly valuable. I think that is a big missing value-add for this project for the folks that want a bit more of a fully-implemented solution you would get with a different library like Vuetify.

[2021-01-20 20:38] #106 closed

[2021-06-07 07:48] lbineau commented on #105
Hello @AustinGil,
I'm starting a new project on Vue 3.
Any plans for a Vuetensils beta version? :-)
Thank you.

[2021-06-07 15:24] AustinGil commented on #105
Great question @lbineau. Im beginning my own migration to Vue 3 recently as well. I've added some features to Vuetensils for composition API support, but I'm still not sure how to migrate existing components without introducing breaking changes or having to maintain two codebases (if you know a way please let me know).

With my last round of changes in place, supporting Vue 3 is my next goal, so I

[2021-06-09 09:16] lbineau commented on #105
I'm still using Vue 3 as I was using Vue 2 without composition API, so it is very transparent for me to switch. That's obviously not the case for libraries, I totally get that.

In the latest 3.1 release core team introduced a Migration build https://v3.vuejs.org/guide/migration/migration-build.html to help people migrating libraries:
- Upgrading a Vue 2 application to Vue 3 (with limitations)
- M

[2021-06-09 14:15] AustinGil commented on #105
Thanks @lbineau. I saw that migration tool, but didn't know it worked for libraries as well. I've also come across Vue Demi which may do the trick https://github.com/vueuse/vue-demi. I definitely want to get V3 support in the next release cycle.

[2021-08-18 05:33] focussing opened #126 "Feature request? tree component?"
I think that would be a great addition

[2021-08-18 15:37] AustinGil commented on #126
Thanks. Can you go into more details to describe what it would be? I'm not entirely sure what you mean by a tree component. Are there examples in the wild? Are there a11y concerns we need to account for in designing one? What would be the ideal features?

[2021-08-24 03:32] christophermiles commented on #116
@jjjsmit I encountered a similar issue in a custom component library I was writing for the project I work on; I wanted a component that could report when it was scrolled in and out out of view. The problem I encountered was when wanting to use this in a list, eg. to lazy load images in a series of newsfeed posts. I realised it would be inefficient to create an observer for each image.

In the end

[2021-08-24 14:14] AustinGil commented on #116
Thanks for the help here @christophermiles. This is a good solution if the same intersection observer can be used for every intersection event. As a library author, it's hard to do things that way because it's not as flexible. However, it does give me the idea that maybe the user could somehow optionally provide an intersection observer to the library. So if one is provided, it will reuse that one

[2021-09-14 10:02] stuartjnelson opened #127 "Error "export 'version' was not found in 'vue'"
## Bug
I get a console warning when using VFile. `Error  "export 'version' was not found in 'vue'`

## Setup
**Component.vue**
[code]

**package.json**
[code]

  ## Steps to recreate
  * Installed Vuetensils `0.9.*`
  * Run `npm run serve`
  * Get console warning `Error  "export 'version' was not found in 'vue'`

  ## Posible causes
  * When I changed to using Vuetensils `0.8.0` the warning disapp

[2021-09-14 13:36] AustinGil commented on #127
Hey @stuartjnelson, thanks for reporting this. It's actually a known issue. Im working on supporting both Vue 2 and Vue 3. There are only some minor changes, but in order to address them, I need to detect which version of Vue is running. The good news is that this won't negatively affect anything. The bad news is I dont know of a better way to detect what version is running.

[2021-09-15 13:37] lbineau opened #128 "Feature: Focusout"
There is the already very useful https://vuetensils.stegosource.com/directives/clickout.html directive.
With accessibility we often need the equivalent for keyboard (ex: disclosure navigation needs to close when focus gets out of the nav element https://www.w3.org/TR/wai-aria-practices-1.1/examples/disclosure/disclosure-navigation.html)

What do you think to have a new directive for that? The only

[2021-09-15 14:08] AustinGil commented on #128
Oooh, this is a great idea. I'm trying to shift focus to supporting Vue 3, and I THOUGHT custom directives were being deprecated, but now I see it's just a breaking change in their implementation. Now I see they are not deprecated, I need to add Vue 3 support to the existing ones as well. And then I can add this new one.

By the way, I dont know your use case, but I would consider a CSS only solut

[2021-09-17 13:16] stuartjnelson commented on #127
Hey @AustinGil,

Thanks for quick reply and sorry if this was already reported. Do I had a play around (by this I mean hacking Vuetensils from inside my `node_modules` directory). I was able to check if it was Vue 2 by doing the following;

[code]

This only worked if it was done inside the exported object not where you have it nicely at the top. I wonder if this would cause issues if you use Comp

[2021-09-17 14:05] AustinGil commented on #127
Oh that's a pretty clever approach. I was also considering modifying the code so its more like

[code]

It's a bit more verbose, but I think that should work. I just wonder if it would impact the bundle size differently.

[2021-09-17 14:58] stuartjnelson commented on #127
I feel  it not a bad verbose though but like you said for this check you wouldn't want to affect bundle size. Let me know if I can help with this

[2021-09-19 17:24] AustinGil commented on #114
I think this should be solved with the latest version https://vuetensils.stegosource.com/components/tabs.html

[2021-09-19 17:25] #114 closed

[2021-09-19 17:27] AustinGil commented on #126
Closing this issue as there was no response

[2021-09-19 17:27] #126 closed, assigned to nobody

[2021-09-19 17:38] AustinGil commented on #127
Unfortunately, the solution above does not work. Back to the drawing board. I'd like to avoid something withing the component, but may end up with your solution.

[2021-12-08 19:30] saschwarz opened #132 "Import errors in Vue2 with Vite"
When I use `vite` to for development of my Vue2 app using vuetensils the browser shows:

`Uncaught SyntaxError: The requested module '/node_modules/.vite/vue.js?v=a69e11f1' does not provide an export named 'version'%`

It is coming from files like `VDrawer.vue` where there is code like:
[code]

I didn't think you could import with destructuring in Vue2 from `vue`?

I'm wondering if the approach ta

[2021-12-08 19:37] saschwarz commented on #132
Sorry. I just saw there was already an issue for this problem: https://github.com/AustinGil/Vuetensils/issues/127
Though maybe using the approach `vue-demi` uses would be a light weight solution.

[2021-12-08 19:37] #132 closed, assigned to nobody

[2021-12-08 21:11] AustinGil commented on #132
Hey @saschwarz, thanks for participating. You're right that there is a warning from Vuetensils. The issue was introduced by adding support for both Vue 2 and Vue 3.

I've thought about this issue for a while and don't have a good solution. I even submitted an issue about it on the core library, but they rejected the idea of adding a version.

Adding vue-demi is one option, but Vuetensils currently

[2021-12-08 21:27] saschwarz commented on #132
Hey @AustinGil,

Well you clearly know more than I do! I thought vue-demi figured out its behavior at runtime, it looks like you need to declare at compile time what vue runtime you are using(?).

Unfortunately, for `vite `and vue2 it isn't just a warning, it's an error. So I had to install `vutensils@0.8` for my app to run with `vuetensils`.

I don't have a better solution than maintaining branch

[2021-12-08 23:59] Yelrado opened #133 "[Vue warn]: Error in render: "TypeError: errors.get is not a function""
The VInput will take an Object but will fail at this line

https://github.com/AustinGil/Vuetensils/blob/e3129d6fea351d47a9563d5ec9059faa64030eee/src/components/VInput/VInput.vue#L243

1. What's the use of the errors prop? I see the reference in the doc but not an explanation

I was able to fix it by changing `errors.get(key)` to `errorsMap.get(key)` but still not sure what's the purpose.

[2021-12-09 01:00] AustinGil commented on #133
Thats a good question. It's something Ive been working on. I want to make it possible for people to provide error messages. It's still a work in progress which is why I havent written any docs on it, but I think it will be a really good addition.

[2021-12-09 01:01] AustinGil commented on #133
How are you using this? I didnt think anyone would run into issues with it since it shouldnt impact anything yet,

[2021-12-09 01:03] AustinGil commented on #132
Yeah. That's unfortunate, and not a solution thats good enough for me. I've tested Vue 2 and Vue 3, but I guess I need to test with Vite. Until now it's just been a warning which I figured was good enough. Ill take a look

[2021-12-09 01:49] Yelrado commented on #133
I was experimenting on checking if VInput had errors and if so pass a boolean to another component.

[code]

I guess I have to use $emit in order to set errorInVInput to a different value when VInput has errors but I'm string learning that.

[2021-12-09 13:33] saschwarz commented on #132
@AustinGil I think I have a solution. Keep using your `isVue3` boolean to separate the differences between versions in one code base but publish two packages.

In the code instead of:
[code]

You'd have:
[code]
So your default build/packaging would build the Vue3 library.
Then run a second build that grep's the code for that string and replaces it with:
[code]
and builds/packages/publishes the Vue

[2021-12-09 15:37] AustinGil commented on #133
That is a good use case that I think I hadnt accounted for. I think the ideal experience would be for the input component to emit a validation event, but that does not currently exist.

Can you send me a full example with codesandbox.io?

[2021-12-09 15:47] AustinGil commented on #132
This is actually a pretty elegant solution. I think defining this as a command line env variable is also a good option. Thank for thinking about this. I'll have to give it a try :)

[2022-01-06 02:52] AustinGil commented on #133
As it turned out, `errors.get` was a typo in my code. This error should be fixed with the latest version.

[2022-01-06 02:52] #133 closed, assigned to nobody

[2022-01-06 02:54] AustinGil commented on #127
Ended up just adopting vue-demi as it's the recommended solution from the core team. I didnt want to add an external dependency, but fixing this issue was required for Vite support

[2022-01-06 02:54] #127 closed, assigned to nobody

[2022-01-06 03:01] AustinGil commented on #105
Vue 3 support should be ready to go

[2022-01-06 03:01] #105 closed

[2022-01-06 05:40] AustinGil commented on #108
Finally got around to publishing what I think it s good solution https://vuetensils.austingil.com/components/input.html#validation

[2022-01-06 05:40] #108 closed

[2022-01-06 05:44] AustinGil commented on #132
FYI, I know this issue is closed, but I think it should be resolved in the latest release

[2022-01-06 10:46] bcourtel opened #134 "[Feature Request] allow localization of the buttons of the datepicker"
Hey there,

Thanks for your work on this library, it's really useful and easy to use.
However, I have a small problem: we want to use the datepicker component on a French website, and, while the month and day labels are configurable through props, the `aria-label` attributes for the "previous/next month/year" buttons are not. This could be easily fixed by allowing customization through props.
I'll

[2022-01-06 16:22] AustinGil commented on #134
Good catch. I really want to support i18n as much as possible. Eventually, it would be great to have translation files, but I'm only one person.

Thanks for the PR. That helps a lot!

[2022-01-06 17:09] bcourtel commented on #134
I agree about translation files. If you have some idea about how to architecture it, I might be able to help you implement it

[2022-01-06 17:23] AustinGil commented on #134
I really appreciate it, but I dont have an idea for the best approach, and Im not sure I have the capacity to work on it at the moment. I think it's a bit of a larger task with lower priority since most of the text is provided by users anyway. So Im not sure if there is a BIG need for it.

But then again, Im a native English speaker, so I could be missing an obvious need from other developers.

Yo

[2022-01-06 17:45] bcourtel commented on #134
I've used [kazupon/vue-i18n](https://github.com/kazupon/vue-i18n) on several projects before and it worked great and was easy to use, but I'm not sure it's a good idea for your library as it could result in a much larger dependency tree for user of the library who don't already use vue-i18n. Maybe a simple JSON files approach would work better and would be dependency-free.
I quite like the current

[2022-01-06 18:08] bcourtel opened #136 "[Feature Request] i18n"
It may be interesting to bundle a bunch of translation files for commonly used terms (ie. the labels of buttons).

There are a few questions to answer before starting the implementation:

- [ ] which kind of architecture to use? Ideally it should be something relying on as few dependencies as possible as to not make the final bundle size a problem for library users
- [ ] is it possible to integrat

[2022-01-06 18:26] AustinGil commented on #134
Thanks. Yeah, I was going to suggest a new issue for this.

And I agree. I'd like to keep this project dependency free. Although I had to make an exception for vue-demi in order to support both V2 and V3.

[2022-01-06 18:26] AustinGil commented on #134
Thanks. Yeah, I was going to suggest a new issue for this.

And I agree. I'd like to keep this project dependency free. Although I had to make an exception for vue-demi in order to support both V2 and V3.

[2022-01-10 11:05] bcourtel opened #138 "[Feature Request] VDate: allow inline usage"
Hello,

I'd like to use the datepicker directly in a page, without requiring the user to click on a "Open datepicker" button.
I'm working on a PR right now to allow that, only when a new prop (ie. `inline`) is true.
This wouldn't change anything about the default usage.

Does this seem like an okay usage to you?

Thanks!

[2022-01-10 15:35] AustinGil commented on #138
One thing I've thought about the datepicker is that the use of the button to toggle it was a mistake. I should have just made it inline the whole time. That may be something I want to do eventually, but it would create a breaking change, so I can't just change it now.

I guess what I mean to say is that I like this idea. Im dealing with a couple of other high priority tasks with the docs site not

[2022-03-25 04:42] myomyintaung1411 opened #140 "vue 3 support ?"

[2022-03-25 10:41] danielterwiel commented on #140
FYI: https://github.com/AustinGil/vuetensils/search?q=vue+3&type=commits

[2022-03-25 14:02] lbineau commented on #105
I will give it a try for the only component I'm using on a Vue 3 project (Toggle).
Thanks for the hard work @AustinGil!

[2022-03-25 14:32] AustinGil commented on #140
@myomyintaung1411: Short answer is  yes. There may be some bugs though.

@danielterwiel: Thanks for the help triaging this :)

[2022-03-25 14:32] #140 closed, assigned to nobody

[2022-03-28 14:07] lbineau commented on #78
Hello,
Is there any update on that one? I saw the `plugin:[['live']]` is missing on vuepress config I wonder if a newer version could have fixed that issue so we can reenable it or if there are alternatives to vuepress live plugin.
Not having a live example is quite painful when looking at the documentation.

[2022-03-28 15:00] AustinGil commented on #78
The original issue was actually unrelated to this latest one, but I've upgraded Vuepress to the next version. Unfortunately, vuepress-plugin-live does not currently support the next version. I've reached out to the authors to see if they are going to support it and waiting to hear back. If not, then my options are to either make a PR myself (or fork it) or maybe use an embeded Codesandbox. It may

[2022-03-30 16:15] safejace opened #141 "Website docs don't show any examples anymore"
not sure what happened. but i've loaded the site on multiple browsers with and without extensions and the examples aren't rendered on the page

Checked out the site on the way back machine and the examples are there

[2022-03-30 16:23] safejace opened #142 "VAlert dismissible doesn't work with scoped css"
I'm wrapping the `<VAlert>` in my own component

[code]

when inspecting the element... the dismissible item doesn't get the `scoped` `[data-v-xxx]` added to it

[code]

[2022-03-30 16:34] AustinGil commented on #142
Can you create a demo in Codesandbox?

[2022-03-30 16:36] AustinGil commented on #141
Yeah, I'm in the middle of a migration to Vuepress next. Unfortunately, vuepress-plugin-live does not currently support it, so I'm deciding if I make a PR to that project, fork it, or use Codesandbox. For maintenance reasons, I want to keep this upgrade. Please be patient as I work out a solution, but I fully intend to have live examples in the docs. I just want to make sure that they work when de

[2022-03-30 17:01] safejace commented on #142
can you link me to an example of codesandbox working with vuetensils loaded up.

I just tried to get it working and it's not loading the vuetensils despite adding as a dependency

[2022-03-30 17:50] AustinGil commented on #142
https://codesandbox.io/s/vue-3-vuetensils-alert-v5cu4q?file=/src/App.vue

[2022-03-30 19:43] safejace commented on #142
thanks @AustinGil

set it up here:
https://codesandbox.io/s/vue-3-vuetensils-alert-forked-pzkdou?file=/src/App.vue

if you turn off/on the `scoped` attribute on the style section in `MyAlert.vue` should show you what I mean

[2022-03-30 23:05] AustinGil commented on #142
A, gotcha. Yeah, that is not a problem with Vuetensils as much as it's a known problem with Vue. See https://vue-loader.vuejs.org/guide/scoped-css.html#deep-selectors

There are a couple solutions. Use on of the "deep" selectors (`>>>`, `/deep/`, `::v-deep`):
[code]
Or you can combine both scoped and not scoped styles:
[code]

[2022-03-30 23:05] #142 closed, assigned to nobody

[2022-04-30 23:15] AustinGil commented on #141
Just wanted to post a quick update here. I got on a live stream with the creator of vuepress-plugin-live and the good news is that we figured out how to support vuepress@next and the vuetensils docs. The bad news is it breaks during build time. So seems like just a bit more to figure out what that issue is, then I can make a PR to that project, and pull it in over here.

[2022-05-04 20:02] aaronransley commented on #141
Excited to see those working demos! Absolutely love using `vuetensils`, thanks for all the hard work @AustinGil!

Do you happen to have a link to the VOD / livestream archive for that `vuepress-plugin-live` stream? Would be fun to put that on the ol' second monitor.

[2022-05-04 20:16] AustinGil commented on #141
Thanks so much @aaronransley. It's been a lot of work, but I use it a lot and enjoy dogfooding it. I just wish I had more time (and more skills).

Here's the video: https://www.youtube.com/watch?v=_yh7KH92zL4

[2022-05-26 19:53] bmcalees opened #143 "Vuetensils: TypeError: Object(...) is not a function"
Upgrading from 9.3 -> 10.7 is giving the following error across all pages of the project. Any idea what could cause this?

![image](https://user-images.githubusercontent.com/7414766/170566749-466194d9-2bc0-4500-882c-521bb0a3fbf2.png)

[2022-05-26 20:44] AustinGil commented on #143
Not the most obvious error, but looking at the source, like 113 of the dist file references a function that is related to VAlert. Can you share how you're using it?

Or better yet, can you create a reproduction of the issue in CodeSandbox?

[2022-05-26 20:45] AustinGil commented on #48
Well, this took me a while to get to, but I think it's in the project at this point :)

[2022-05-26 20:45] #48 closed

[2022-05-26 20:52] bmcalees commented on #143
I noticed that as well and we're actually not using VAlert anywhere in the codebase which is why I was also confused. This is the RevealBio codebase btw. I'll try to throw together a codepen to reproduce the issue!

[2022-05-26 21:21] AustinGil commented on #143
You might also try the latest version, 0.11.0.

[2022-05-26 22:29] bmcalees commented on #143
0.11.0 was broken too.

It looks like we're doing some form of global component registration which I don't see referenced anywhere in the docs.

![image](https://user-images.githubusercontent.com/7414766/170589242-0e84c733-646e-483f-a761-4a513297e67d.png)

Importing Vuetensils is what causes everything to break.

Importing the components as shown in the docs seems to make everything work fine agai

[2022-05-26 22:29] #143 closed, assigned to nobody

[2022-05-27 15:02] AustinGil commented on #143
Huh, that's weird. It should actually now support multiple ways of registering global components including your example. I made a demo that shows it working

https://codesandbox.io/s/pensive-andras-hs4bzx?file=/src/main.js

Anyway, I'm glad you have it sorted.

[2022-06-03 17:13] AustinGil commented on #141
Finally got this working again thanks to the wonderful @elevatebart.

I still need to adjust the layouts, but the examples are working again :D

[2022-06-03 17:13] #141 closed, assigned to nobody

[2022-10-12 10:37] lbineau opened #145 "Drawer sliding animation"
Hello @AustinGil,

I'd like to use the Drawer component to achieve this slideIn/slideOut effect https://codepen.io/lisa_c/pen/dyMyjRo
![screencast of a sliding drawer panel example](https://user-images.githubusercontent.com/1534688/195317908-fd23ed40-8657-47f6-8389-8162600e2a61.gif)

I'm a bit confused because I copied and paste the example from the documentation and the result is: no transition o

[2022-10-12 14:25] AustinGil commented on #145
Yep. This is a small typo in the docs due to the nature of how the styles are added. The styles in the docs don't actually effect the demos. I have to maintain those as a separate stylesheet. As a result, I have to maintain the same styles in both places. I got it right in the stylesheet here, but not in the docs.

Vue transitions changed how they handle class naming a while back. To fix your issu

[2022-10-12 14:25] #145 closed, assigned to nobody

[2022-10-12 14:31] AustinGil commented on #145
Actually, there was also a problem introduced with Vue's transition changes that makes coordinating transitions kind of weird and makes your desired effect kind of weird. It works, but I want to find a better solution. Here's what will get you where you want to be

[code]

[2022-10-12 14:52] lbineau commented on #145
Thank you for the fast answer, it seems to work!
I've updated the demo: https://codesandbox.io/s/crimson-lake-16dhk3?file=/src/App.vue

I just wonder how we can make it work with a fading black background in combination under the sliding panel, I'm not sure to understand it from the documentation.
It works for slideIn but not slideOut https://codesandbox.io/s/hungry-sinoussi-hd5bny?file=/src/App.v

[2022-10-12 15:52] AustinGil commented on #145
Yeah, that's exactly the issue I ran into when Vue changed how things worked. The example I have you slides the whole component in. To have a fading background, you'd have to only slide in the panel.

The component right now uses two transitions, one nested in the other. I think that may be the problem. If I switch it to one transition, it would make things possible with a slightly more complicate

[2022-11-29 09:25] lbineau opened #147 "Browser compatibility"
Hello @AustinGil,

I had the bad surprise to see CSS was updated for most of the components to reduce selector complexity https://github.com/AustinGil/vuetensils/commit/57ecaff46d0f44af884de905e07a9f62f77959d3#diff-d39665efaa43781ea98cfffcba7155f8d8b0a9f93443bcf6ee6ca21b2fc85762
The support of this `:where` feature (`inset: 0` too) is very recent 2021 at most, it breaks in most navigation.
I'm pre

[2022-11-29 09:38] AustinGil commented on #147
Oh dang. Yeah, I do think browser compatibility is important. I based the decision on caniuse

https://caniuse.com/mdn-css_selectors_where
https://caniuse.com/mdn-css_properties_inset

Do you mind sharing the details of your system so I can double-check it? https://www.whatsmybrowser.org/

For now, you can stick to a previous version until I sort out a good approach forward :)

(Also, curious if y

[2022-11-29 10:44] lbineau commented on #147
Thanks for the fast reply as always :-)
Here is the browserlist I'm using based on my client requirements:
[code]
Basically, iOS is often the bottleneck because Safari version is coupled with the OS version. I is not rare to have iOS13 for instance.
The problem is if `:where` is not available, the whole selector is being ignored and there is in the end no CSS applied on Vuetensils component for br

[2022-11-29 13:03] AustinGil commented on #147
Yeah, that makes sense. Ugh, too bad because :where makes the specificity of the library so much better to deal with.

Why did you have to fork VToggle? I do try to make them easily forkable, so that's cool. VTry is pretty basic, but you should really checkout VAsync for async stuff. It's one of my favorites :) I'd like to figure out a composable for it as well, but the API is hard to get right.

[2022-11-30 08:48] lbineau commented on #147
Mostly at first because the Vue 3 version was not ready yet at the time. Then my project is in Typescript so I had to rework the component, and then I started to tweak it here and there (close on click outside, close on escape key, etc). Eventually, I tweaked too much the component to replace it back with yours when Vue 3 version was released 😅.

[2022-11-30 09:12] AustinGil commented on #147
Cool. Well if any of it makes sense for to add to Vuetensils, let me know, or feel free to submit a PR.

[2022-11-30 09:12] AustinGil commented on #147
Cool. Well if any of it makes sense for to add to Vuetensils, let me know, or feel free to submit a PR.